@import "/css/normalize.css";

:root {
  --color-header: #2d3033;
  --color-light-text: #ffffff;
  --color-primary: #e84545;
  --color-text: #6c7279;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/*Typography*/

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  color: var(--color-light-text);
  font-family: "Open Sans", sans-serif;
  font-size: 3.2rem;
  line-height: 1.2;
}

p,
h2,
h3 {
  font-size: 1.6rem;
}

p {
  color: var(--color-text);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6.5rem;
    line-height: 1.1;
  }

  p,
  h2,
  h3 {
    font-size: 1.4rem;
  }
}

/*Links*/

.link {
  border-radius: 3px;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.link--primary {
  background-color: var(--color-primary);
  color: var(--color-light-text);
}

.link--rectangle {
  padding: 1.5rem 4rem;
}

.link:hover {
  background-color: #e72929;
  transition: background-color, 500ms;
}

.link--team {
  border: 1px solid #c6cacc;
  color: #c6cacc;
}

.link--share {
  border: 2px solid var(--color-light-text);
  color: var(--color-light-text);
}

.link--square {
  height: 4rem;
  padding: 1rem;
  width: 4rem;
  margin-right: 0.4rem;
}

.link--team:hover,
.link--share:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-light-text);
  transition: all, 500ms;
}

.link__icons {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  .link__icons {
    font-size: 1.6rem;
  }
}

/*Features*/

.feature__icon {
  width: 8rem;
  height: 8rem;
}

/*Works*/

.work {
  position: relative;
  overflow: hidden;
}

.work__image-container {
  background-color: var(--color-primary);
  display: inline-block;
  transition: transform 400ms;
}

.hovered--work .work__image-container {
  transform: scale(1.15);
}

.work__image {
  display: block;
  height: 100%;
  transition: opacity 400ms;
}

.hovered--work .work__image {
  opacity: 0.15;
}

.work__title,
.work__description {
  position: absolute;
  /*Keeping them in the center, horizontally*/
  left: 0;
  right: 0;
  /*Keeping them in the center, horizontally*/
  color: var(--color-light-text);
  opacity: 0;
}

.work__title {
  top: 33%;
  transition: all 400ms;
}

.hovered--work .work__title {
  top: 39%;
  opacity: 1;
}

.work__description {
  bottom: 33%;
  transition: all 400ms;
}

.hovered--work .work__description {
  bottom: 39%;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .hovered--work .work__title {
    top: 40%;
  }

  .hovered--work .work__description {
    bottom: 40%;
  }
}

/*Team*/

.team {
  max-width: 270px;
  margin: auto;
  text-align: left;
}

.team__image {
  max-width: 100%;
  height: auto;
}

.team__name {
  text-transform: initial;
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0;
}

.team__job {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0;
}

/* Keeping the link icons in the center of their box */
.team__links > a {
  text-align: center;
}
/* Keeping the link icons in the center of their box */
