@import "/css/normalize.css";

:root {
  --color-header: #2d3033;
  --color-light-text: #ffffff;
  --color-primary: #e84545;
  --color-text: #6c7279;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.block {
  margin: 8rem 0;
  padding: 0 2rem;
}

/*Typography*/

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  color: var(--color-light-text);
  font-family: "Open Sans", sans-serif;
  font-size: 3.2rem;
  line-height: 1.2;
}

p,
h2,
h3 {
  font-size: 1.6rem;
}

p {
  color: var(--color-text);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6.5rem;
    line-height: 1.1;
  }

  p,
  h2,
  h3 {
    font-size: 1.4rem;
  }
}

/*Links*/

.link {
  border-radius: 3px;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.link--primary {
  background-color: var(--color-primary);
  color: var(--color-light-text);
}

.link--rectangle {
  padding: 1.5rem 4rem;
}

.link:hover {
  background-color: #e72929;
  transition: background-color, 500ms;
}

.link--team {
  border: 1px solid #c6cacc;
  color: #c6cacc;
}

.link--share {
  border: 2px solid var(--color-light-text);
  color: var(--color-light-text);
}

.link--square {
  height: 4rem;
  padding: 1rem;
  width: 4rem;
  margin-right: 0.4rem;
}

.link--team:hover,
.link--share:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-light-text);
  transition: all, 500ms;
}

.link__icons {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  .link__icons {
    font-size: 1.6rem;
  }
}

/*Features*/

.feature__icon {
  width: 8rem;
  height: 8rem;
}

/*Works*/

.work {
  position: relative;
  overflow: hidden;
}

.work__image-container {
  background-color: var(--color-primary);
  display: inline-block;
  transition: transform 400ms;
}

.hovered--work .work__image-container {
  transform: scale(1.2);
}

.work__image {
  display: inline-block;
  height: 100%;
  transition: opacity 400ms;
}

.hovered--work .work__image {
  opacity: 0.1;
}

.work__title,
.work__description {
  position: absolute;
  /*Keeping them in the center, horizontally*/
  left: 0;
  right: 0;
  /*Keeping them in the center, horizontally*/
  color: var(--color-light-text);
  opacity: 0;
}

.work__title {
  top: 33%;
  transition: all 400ms;
}

.hovered--work .work__title {
  top: 39%;
  opacity: 1;
}

.work__description {
  bottom: 33%;
  transition: all 400ms;
}

.hovered--work .work__description {
  bottom: 39%;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .hovered--work .work__title {
    top: 40%;
  }

  .hovered--work .work__description {
    bottom: 40%;
  }
}

/*Team*/

.team {
  max-width: 270px;
  margin: auto;
  text-align: left;
}

.team__image {
  max-width: 100%;
  height: auto;
}

.team__name {
  text-transform: initial;
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0;
}

.team__job {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0;
}

/* Keeping the link icons in the center of their box */
.team__links > a {
  text-align: center;
}

/*Testimonial Block*/

.testimonials {
  position: relative;
  background-color: #53354a;
}

.mySlide {
  display: grid;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.testimonial__content {
  position: relative;
  padding: 0 2rem;
  text-align: left;
}

.testimonial__image {
  width: 100%;
  align-self: center;
}

.testimonial__text {
  color: var(--color-light-text);
  margin-top: 0;
  margin-bottom: 3rem;
  padding-top: 2rem;
  font-family: "Cardo", serif;
  font-size: 2.6rem;
  line-height: 1.4;
}

.testimonial__name {
  color: var(--color-light-text);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 6rem;
}

/*TODO: Remember to add click events to dots later*/
/*TODO: Remember to add click events to dots later*/
/*TODO: Remember to add click events to dots later*/
/*TODO: Remember to add click events to dots later*/
/*TODO: Remember to add click events to dots later*/

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: var(--color-light-text);
  opacity: 0.2;
  margin-right: 0.8rem;
  border: none;
  transition: opacity 1s ease-in;
}

.active {
  opacity: 1;
}

/*TODO: Remember to add click events to dots later*/
/*TODO: Remember to add click events to dots later*/
/*TODO: Remember to add click events to dots later*/
/*TODO: Remember to add click events to dots later*/
/*TODO: Remember to add click events to dots later*/

@media screen and (min-width: 768px) {
  .testimonial__content {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .mySlide {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial__text {
    font-size: 3.2rem;
  }
}

/*Footer*/

.footer__about {
  background-color: #3a3e64;
}

.footer__about > div {
  padding: 3.5rem 0;
}

.footer__about__h2,
.footer__about__p {
  color: var(--color-light-text);
}

.footer__about__p {
  opacity: 0.5;
}

.footer__copyright {
  background-color: #313454;
}

.footer__copyright__p {
  margin: 0;
  padding: 3rem 0;
}

.footer__copyright__link {
  text-decoration: none;
  color: var(--color-light-text);
  transition: color 400ms;
}

.footer__copyright__link:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .footer__about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 0;
  }

  .footer__about > div {
    padding: 0;
    max-width: 330px;
    margin: auto;
  }
}

/*Banner and Navigation Bar*/

.banner {
  position: relative;
}

#header {
  background-image: url(/images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  /*Setting the height of the background image as the height of the element*/
  height: 750px;
  position: absolute;
  width: 100%;
  top: 0;
}

.banner__heading {
  padding-top: 20rem;
}

.banner__text {
  color: var(--color-light-text);
  margin-bottom: 8rem;
}

.navbar {
  position: fixed;
  width: 100%;
}

.navbar__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  transition: padding 500ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-scrolled {
  background-color: #292c47;
  transition: background-color 500ms;
}

.navbar-scrolled .navbar__content {
  padding: 2rem 0;
  border: none;
}

.navtoggler {
  background-color: var(--color-primary);
  border: none;
  border-radius: 100%;
  display: inline-block;
  padding: 10px;
  overflow: hidden;
  z-index: 3;
  position: relative;
  cursor: pointer;
  outline: none;
}

.navtoggler > span {
  height: 2.4px;
  width: 18px;
  background-color: #fff;
  display: block;
  margin: 3px;
  border-radius: 2px;
}

.active-navtoggler #line1 {
  transform: translate(3px) rotate(40deg);
}

.active-navtoggler #line2 {
  opacity: 0;
}

.active-navtoggler #line3 {
  transform: translate(3px) rotate(-40deg);
}

#line1 {
  transform-origin: 0 0;
}

#line3 {
  transform-origin: 0 100%;
}

.navtoggler > span {
  transition: all 400ms;
}

.navlinks {
  padding-left: 0;
  background-color: #000;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0 0;
  z-index: 2;
  visibility: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
}

.active-navlinks {
  opacity: 0.9;
  visibility: visible;
}

.navlink {
  list-style-type: none;
  margin: 1rem;
}

.navlink > a {
  color: var(--color-light-text);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 0.75;
  transition: opacity 400ms;
}

/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/
/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/
/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/
/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/
/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/

.navlink > a:hover, .navlink > a.active {
  opacity: 1;
}

/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/
/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/
/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/
/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/
/*TODO: Remember to add the "active" class to the link that is scrolled on its related id in the future updates*/

@media screen and (min-width: 1024px) {
  .banner__text {
    font-size: 1.8rem;
  }

  .navbar__content {
    width: 95%;
  }

  .navtoggler {
    display: none;
  }

  .navlinks {
    visibility: visible;
    opacity: 1;
    background-color: initial;
    height: initial;
    width: initial;
    position: initial;
    inset: initial;
    flex-direction: row;
  }

  .navlink {
    margin: 0 0 0 6rem;
  }

  .navlink > a {
    font-size: 1.3rem;
  }
}

/*Features Block*/

/*This padding is equal to the height of the header which is on top of the features block, to avoid features block to go under
the header, that has an absolute position*/

#features {
  padding-top: 750px;
}

.features {
  display: grid;
  grid-gap: 8rem 6rem;
}

@media screen and (min-width: 768px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .features {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Works Block*/

/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/
/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/
/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/
/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/
/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/

#works {
  display: grid;
  grid-gap: 1px;
}

/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/
/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/
/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/
/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/
/*TODO: Remember to add an animation on this element so that each of its children show one after another in order, once scrolled on the element*/

#works > a {
  overflow: hidden;
}

@media screen and (min-width: 650px) {
  #works {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1300px) {
  #works {
    grid-template-columns: repeat(4, 1fr);
  }
}