<section class="banner">
    <header id="header">
        <nav class="navbar">
            <div class="container">
                <div class="navbar__content">
                    <a href="/">
                        <picture class="logo">
                            <source type="image/png" srcset="images/logo.png 1x, images/logo@2x.png 2x">
                            <img src="images/logo.png" alt="Logo of ActiveBox">
                        </picture>
                    </a>
                    <button class="navtoggler">
                        <span id="line1"></span>
                        <span id="line2"></span>
                        <span id="line3"></span>
                    </button>
                    <ul class="navlinks">
                        <li class="navlink"><a href="#features">features</a></li>
                        <li class="navlink"><a href="#works">works</a></li>
                        <li class="navlink"><a href="#team">our team</a></li>
                        <li class="navlink"><a href="#testimonials">testimonials</a></li>
                        <li class="navlink"><a href="#download">download</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="block">
                <h1 class="banner__heading">your favorite one page multi purpose template</h1>
                <p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et.</p>
                <a href="#" class="link link--primary link--rectangle">find out more</a>
            </div>
        </div>
    </header>
</section>