<section id="features">
    <div class="container">
        <div class="block features">
            <div class="feature">
                <svg class="icon feature__icon">
                    <use xlink:href="images/sprite.svg#tools"></use>
                </svg>
                <h2 class="feature__heading">easily customized</h2>
                <p class="faeture__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet labore dicta obcaecati odio sed, quibusdam enim! Obcaecati illum atque quaerat voluptas? Tempore excepturi nemo illum dolor!</p>
            </div>
            <div class="feature">
                <svg class="icon feature__icon">
                    <use xlink:href="images/sprite.svg#desktop"></use>
                </svg>
                <h2 class="feature__heading">responsive ready</h2>
                <p class="faeture__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet labore dicta obcaecati odio sed, quibusdam enim! Obcaecati illum atque quaerat voluptas? Tempore excepturi nemo illum dolor!</p>
            </div>
            <div class="feature">
                <svg class="icon feature__icon">
                    <use xlink:href="images/sprite.svg#lightbulb"></use>
                </svg>
                <h2 class="feature__heading">modern design</h2>
                <p class="faeture__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet labore dicta obcaecati odio sed, quibusdam enim! Obcaecati illum atque quaerat voluptas? Tempore excepturi nemo illum dolor!</p>
            </div>
            <div class="feature">
                <svg class="icon feature__icon">
                    <use xlink:href="images/sprite.svg#genius"></use>
                </svg>
                <h2 class="feature__heading">clean code</h2>
                <p class="faeture__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet labore dicta obcaecati odio sed, quibusdam enim! Obcaecati illum atque quaerat voluptas? Tempore excepturi nemo illum dolor!</p>
            </div>
            <div class="feature">
                <svg class="icon feature__icon">
                    <use xlink:href="images/sprite.svg#briefcase"></use>
                </svg>
                <h2 class="feature__heading">ready to ship</h2>
                <p class="faeture__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet labore dicta obcaecati odio sed, quibusdam enim! Obcaecati illum atque quaerat voluptas? Tempore excepturi nemo illum dolor!</p>
            </div>
            <div class="feature">
                <svg class="icon feature__icon">
                    <use xlink:href="images/sprite.svg#download"></use>
                </svg>
                <h2 class="feature__heading">download for free</h2>
                <p class="faeture__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet labore dicta obcaecati odio sed, quibusdam enim! Obcaecati illum atque quaerat voluptas? Tempore excepturi nemo illum dolor!</p>
            </div>
        </div>
    </div>
</section>