<footer id="footer">
    <div class="footer__about">
        <div class="container">
            <div class="footer__about__content">
                <div class="footer__about__div">
                    <h2 class="footer__about__h2" style="margin-top: 0;">location</h2>
                    <p class="footer__about__p">3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                </div>
                <div class="footer__about__div">
                    <h2 class="footer__about__h2">share with love</h2>
                    <div>
                        <a href="#" class="link link--share link--square"><i class="fa-brands fa-facebook-f link__icons"></i></a>
                        <a href="#" class="link link--share link--square"><i class="fa-brands fa-twitter link__icons"></i></a>
                        <a href="#" class="link link--share link--square"><i class="fa-brands fa-linkedin-in link__icons"></i></a>
                        <a href="#" class="link link--share link--square"><i class="fa-brands fa-google-plus-g link__icons"></i></a>
                    </div>
                </div>
                <div class="footer__about__div">
                    <h2 class="footer__about__h2">about activebox</h2>
                    <p class="footer__about__p" style="margin-bottom: 0;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <p class="footer__copyright__p">Copyright © 2015 ActiveBox. All Rights Reserved<br>Made with <span style="color: var(--color-primary);">&#10084;</span> by <a href="https://kamalchaneman.com/" class="footer__copyright__link">Kamal Chaneman</a><br>Coded by <a href="https://www.linkedin.com/in/milad-valizadeh/" class="footer__copyright__link">Milad Valizadeh</a></p>
        </div>
    </div>
</footer>