<a href="#" class="link link--primary link--rectangle">download for free</a>
<a href="#" class="link link--testimonial link--square"><i class="fa-brands fa-facebook-f link__icons"></i></a>
<a href="#" class="link link--testimonial link--square"><i class="fa-brands fa-twitter link__icons"></i></a>
<a href="#" class="link link--testimonial link--square"><i class="fa-brands fa-linkedin-in link__icons"></i></a>
<a href="#" class="link link--testimonial link--square"><i class="fa-brands fa-google-plus-g link__icons"></i></a>
<a href="#" class="link link--testimonial link--square"><i class="fa fa-dribbble"></i></a>
<div style="background-color: darkblue;">
    <a href="#" class="link link--share link--square"><i class="fa-brands fa-facebook-f link__icons"></i></a>
    <a href="#" class="link link--share link--square"><i class="fa-brands fa-twitter link__icons"></i></a>
    <a href="#" class="link link--share link--square"><i class="fa-brands fa-linkedin-in link__icons"></i></a>
    <a href="#" class="link link--share link--square"><i class="fa-brands fa-google-plus-g link__icons"></i></a>
</div>