    <section class="testimonials">
        <div class="mySlide" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
            <img src="images/testimonial-1.jpg" alt="" class="testimonial__image">
            <div class="testimonial__content">
                <p class="testimonial__text">"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean eu leo quam..."</p>
                <p class="testimonial__name">susan sims, interaction designer at xyz</p>
                <div class="dots">
                    <button class="dot testimonial1__dots"></button>
                    <button class="dot testimonial1__dots"></button>
                </div>
            </div>
        </div>
        <div class="mySlide">
            <img src="images/testimonial-2.jpg" alt="" class="testimonial__image">
            <div class="testimonial__content">
                <p class="testimonial__text">"Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur...."</p>
                <p class="testimonial__name">susan sims, interaction designer at xyz</p>
                <div class="dots">
                    <button class="dot testimonial2__dots"></button>
                    <button class="dot testimonial2__dots"></button>
                </div>
            </div>
        </div>
    </section>