<div class="testimonial">
    <img src="images/team-1.jpg" alt="" class="testimonial__image">
    <h2 class="testimonial__name">Ruth Wood</h2>
    <h3 class="testimonial__job">founder, ceo</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi illum corrupti praesentium maxime provident necessitatibus libero, qui incidunt! Illum molestiae, quam dolorem esse autem vero vel fuga neque odio quod necessitatibus dolores doloribus ut. Ipsa exercitationem omnis ullam molestiae corrupti.</p>
    <div class="testimonial__links">
        <a href="#" class="link link--testimonial link--square"><i class="fa-brands fa-facebook-f link__icons"></i></a>
        <a href="#" class="link link--testimonial link--square"><i class="fa-brands fa-twitter link__icons"></i></a>
        <a href="#" class="link link--testimonial link--square"><i class="fa-brands fa-linkedin-in link__icons"></i></a>
        <a href="#" class="link link--testimonial link--square"><i class="fa-brands fa-google-plus-g link__icons"></i></a>
        <a href="#" class="link link--testimonial link--square"><i class="fa fa-dribbble"></i></a>
    </div>
</div>